.container2 {
    display: flex;
    justify-content: space-between;
  }
  
  .row {
    display: flex;
    width: 100%;
  }
  
  .col-md-6 {
    flex: 1;
    padding: 20px;
  }
  
  .form-group {
    margin-bottom: 15px;
  }
  
  .form-control {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  label {
    font-weight: bold;
  }
  .list-group {
    position: absolute;
    z-index: 1000; /* Ensure it appears above other content */
    width: 34.5%;
    max-height: 200px;
    overflow-y: auto;
    background-color: #893e3e; /* Background color */
    border: 1px solid #040404; /* Border style */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); /* Optional: Box shadow for a slight elevation effect */
  }
  
  .list-group-item {
    cursor: pointer;
    padding: 10px;
  }
  
  .list-group-item:hover {
    background-color: #b35858; /* Hover background color */
  }
  
  .border-line {
    width: 2px;
    background-color: #ccc;
    margin: 0 20px;
  }
  
  .btn-add-user {
    margin-top: 20px;
  }
  